.bg-dark {
    background-color:rgba(0,0,0,0.7) !important;
}


/* news */
.carousel-indicators li {
    height: 30px !important;
    margin-top: 100% !important;
}

.carousel-indicators {
  position: absolute !important;
  top: 150px;
}

.container {
  max-width: 80% !important;
}

.card {
  height: auto !important;
}

@media screen and (max-width: 950px) {
  .jumbo-welcome {
    margin-top:10em;
    margin-left:auto;
    margin-right:auto;
  }
}
