.background-img-1, .background-img-2 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-img-1 {
  background-image: url(https://images4.alphacoders.com/713/thumb-1920-71316.jpg);
  height: -webkit-fill-available;
}

.background-img-2 {
  margin: 1000px;
  background-image: url(https://images.alphacoders.com/506/thumb-1920-506874.jpg);
}

.jumbo-welcome {
  background-color: rgba(255 ,255 ,255 ,0.7);
  margin-top:20em;
  margin-left:auto;
  margin-right:auto;
  max-width: 500px;
}

nav{
  background-color: rgba(0 ,0 ,0 ,0.7);
}

@media screen and (max-width: 575px) {
  .jumbo-welcome {
    margin-top:10em;
    margin-left:auto;
    margin-right:auto;
  }
}

/* news */
section {
  padding: 30px 0;
  width: 100%;
}

.top-slider .carousel-indicators{bottom: 0}
.top-slider .carousel-indicators li{border:1px solid #000;}
.top-slider .carousel-indicators .active{background:#000;}

.col-md-3, .col-md-6 {
  float: left;
}

#newsJumbotron {
  float: left;
}

#newsJumboWelcome {
  max-width: none !important;
  margin-top: auto !important;
}
